* {
	font-family: $font-primary;
}

body {
	background-color: $color-white;
	font-size: 16px;
	line-height: 24px;
	color:  $color-black;
}   


/* Responsive breakpoint */
$screen_xs: 480px;
$screen_s:	620px;
$screen_m: 	768px;
$screen_l: 	1200px;